body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #fff;
	background-color: rgb(109, 110, 113);
}

p {
	font-weight: 500;
}

.small-caps {
	font-size: 10px;
}
.light {
	opacity: .5;
	font-weight: 300;
}

#food-saver {
	margin-top: 50px;
	min-height: 25px;
}

.food-item {
	color:white;
	text-transform: capitalize;
	padding:5px 8px;
	border-bottom: 1px solid rgba(255,255,255,.1);
}

.food-item:nth-child(1){
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.age-0 { background-color: rgb(81, 173, 161); }
.age-1 { background-color: rgb(84, 169, 154); }
.age-2 { background-color: rgb(97, 166, 147); }
.age-3 { background-color: rgb(110, 162, 140); }
.age-4 { background-color: rgb(124, 158, 133); }
.age-5 { background-color: rgb(137, 154, 126); }
.age-6 { background-color: rgb(150, 151, 119); }
.age-7 { background-color: rgb(163, 147, 113); }
.age-8 { background-color: rgb(176, 143, 106); }
.age-9 { background-color: rgb(189, 140, 99); }
.age-10{ background-color: rgb(202, 136, 92); }
.age-11{ background-color: rgb(216, 132, 85); }
.age-12{ background-color: rgb(229, 128, 78); }
.age-13{ background-color: rgb(238, 124, 70); }
.age-14{ background-color: rgb(237, 119, 60); }

.food-item > p {
	margin-bottom: 0px;
	font-weight: 700;
}

button.delete {
	display: none;
	margin-bottom: 0;
	margin-left: 8px;
}


#
