body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #fff;
	background-color: rgb(45, 16, 50);
}

p {
	font-weight: 500;
}

.small-caps {
	font-size: 10px;
}
.light {
	opacity: .5;
	font-weight: 300;
}

#food-saver {
	margin-top: 50px;
	min-height: 25px;
}

.food-item {
	color:white;
	text-transform: capitalize;
	padding:5px 8px;
	border-bottom: 1px solid rgba(255,255,255,.1);
	min-height: 38px;
}

.food-item:nth-child(1){
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}


.food-item > p {
	margin-bottom: 0px;
	font-weight: 700;
}

button.delete {
	display: none;
	margin-bottom: 0;
	margin-left: 8px;
	margin-right: -3px;
	height: 24px;
	line-height: 4px;
}


